<!-- project item -->
<ul class="project-list">
	{% for post in site.posts %}
		<li class="project-item">
			<div class="project-overlay">
				<a href="{{ post.url }}">
					<img class="project-img-top" src="{{ site.url }}/images/{{ post.title }}/thumb-mono.jpg" alt>
					<img class="project-img-bottom" src="{{ site.url }}/images/{{ post.title }}/thumb.jpg" alt>
				</a>
			</div>
			<div class="project-name">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</div>
		</li>
	{% endfor %}	
</ul>
<!-- end project item -->